[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "==3.141.0"
requests = "*"
pyppeteer = "==0.0.25"
pyquery = "==1.4.0"

[dev-packages]
sphinx = "*"
pylint = "*"

[requires]
python_version = "3.7"
