-i https://pypi.org/simple/
appdirs==1.4.4
certifi==2020.12.5
chardet==3.0.4
cssselect==1.1.0
idna==2.8
lxml==4.6.2
pyee==8.1.0
pyppeteer==0.0.25
pyquery==1.4.0
requests==2.21.0
selenium==3.141.0
tqdm==4.55.1
urllib3==1.24.3
websockets==8.1
